{% extends "base.html" %}

{% block page_content %}
<h1>Recent Enquiry</h1>
<div class="container rounded  border-primary sticky-top ">
  <div class="row p-2 text-white bg-dark">
    <div class="col-sm-3">
      Student Name
    </div>
    <div class="col-sm-4">
    Course Enquired
    </div>
    <div class="col-sm-2">
      Phone
    </div>
    <div class="col-sm-2">
     Enquiry Date
    </div>
    <div class="col-sm-2">
      Last Enquiry
     </div>
     <div class="col-sm-2">
      Next Enquiry
     </div>
  </div>
</div>
{% for enquiry in enquiries %}
<div class="container my-2 rounded border border-primary">
<a href="{% url 'enquiry_update' enquiry.id %}" >

    <div class="row mt-3">
      <div class="col-sm-3">
        {{ enquiry.id }}

        {{ enquiry.name }}
      </div>
      <div class="col-sm-4">
      {{enquiry.enquiry_for}}
      </div>
      <div class="col-sm-2">
        {{enquiry.phone}}
      </div>
      <div class="col-sm-2">
        {{enquiry.enquiry_date}}
      </div>
      <div class="col-sm-2">
        {{enquiry.last_enquiry}}
      </div>
      <div class="col-sm-2">
        {{enquiry.next_enquiry}}
      </div>
      
    </div>
  </a>
  </div>
  {% endfor %}


{% endblock %}